@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/stillerimKurallar.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/stillerim.css">
</head>
<body>
    <div class="container-fluid p-5">
        <div class="row ">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-4 ">

                    </div>
                    <div class="col-4 ml-2">
                        <img src="~/images/bynogamelogo.png">
                    </div>
                    <div class="col-4 ">

                    </div>
                </div>
                <div class="row p-3 text-center yaziRengiGri kenarlikGri">
                    <div class="col-2  ">
                        OYUNLAR
                    </div>
                    <div class="col-2 ">
                        KNİGHT ONLİNE
                    </div>
                    <div class="col-2 ">
                        İTEM & SKİN
                    </div>
                    <div class="col-2 ">
                        WAX
                    </div>
                    <div class="col-2 ">
                        PAZAR
                    </div>
                    <div class="col-2 ">
                        DESTEKLE
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">

                    </div>
                    <div class="col-8  ">
                        <img src="~/images/buyukresim.jpg" class="img-fluid">
                    </div>
                    <div class="col-2">

                    </div>
                </div>
                <div class="row  p-4 koyu yaziRengiRed font28">
                    <div class="col-12  text-center">
                        PAZAR
                    </div>
                </div>
                <div class="row  align-items-center">
                    <div class="col-2 ">
                        <div class="row p-2 kenarlikRow ">
                            <div class="col-12 ">
                                <img src="~/images/esya1.png" class="img-fluid">
                            </div>
                            <div class="col-12 text-center yaziRengiRed koyu p-1">
                                CSGO +100 OVGU
                            </div>
                            <div class="col-12 text-center dolguGri mt-2">
                                <span class="koyu font24">5.00</span>  TL
                            </div>
                        </div>
                    </div>
                    <div class="col-2 ">
                        <div class="row p-2 kenarlikRow">
                            <div class="col-12 ">
                                <img src="~/images/esya2.png" class="img-fluid">
                            </div>
                            <div class="col-12 text-center yaziRengiRed koyu p-1">
                                STEAMKO PATHOS GB
                            </div>
                            <div class="col-12 text-center dolguGri margin100">
                                <span class="koyu font24">16.40</span>  TL
                            </div>
                        </div>
                    </div>
                    <div class="col-2 ">
                        <div class="row p-2 kenarlikRow">
                            <div class="col-12 ">
                                <img src="~/images/esya3.png" class="img-fluid">
                            </div>
                            <div class="col-12 text-center yaziRengiRed koyu p-1">
                                PATHOS GB
                            </div>
                            <div class="col-12 text-center dolguGri margin100">
                                <span class="koyu font24">16.50</span>  TL
                            </div>
                        </div>
                    </div>
                    <div class="col-2 ">
                        <div class="row p-2 kenarlikRow">
                            <div class="col-12 ">
                                <img src="~/images/esya4.png" width="300" height="150" class="img-fluid">
                            </div>
                            <div class="col-12 text-center yaziRengiRed koyu p-1">
                                PATHOS GB
                            </div>
                            <div class="col-12 text-center dolguGri margin100">
                                <span class="koyu font24">16.50</span>  TL
                            </div>
                        </div>
                    </div>
                    <div class="col-2 ">
                        <div class="row p-2 kenarlikRow">
                            <div class="col-12 text-bottom">
                                <img src="~/images/esya5.jpeg" class="img-fluid">
                            </div>
                            <div class="col-12 text-center yaziRengiRed koyu p-1">
                                2X KARIŞIK HESAP SATIŞI
                            </div>
                            <div class="col-12 text-center dolguGri margin60">
                                <span class="koyu font24">3.00</span>  TL
                            </div>
                        </div>
                    </div>
                    <div class="col-2 ">
                        <div class="row p-2 kenarlikRow">
                            <div class="col-12  text-center">
                                <img src="~/images/esya6.jpeg" width="150" height="100" class="img-fluid">
                            </div>
                            <div class="col-12 text-center yaziRengiRed koyu p-1">
                                THE SİMS 4 LİMİTED
                            </div>
                            <div class="col-12 text-center dolguGri">
                                <span class="koyu font24">3.00</span>  TL
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>